<h1>Detalhes do Pedido</h1>
<ul>
  <p><%= @cart.product.name %></p>
  <li><%= @cart.product.brand %></li>
  <li><%= number_to_currency @cart.product.price %></li>
  <li><%= @cart.product.description %></li>
  <li>Altura: <%= @cart.product.height %> m</li>
  <li>Largura: <%= @cart.product.width %> m</li>
  <li>Comprimento: <%= @cart.product.length %> m</li>
  <li>Peso: <%= @cart.product.weight %> kg</li>
  <li><%= number_to_currency(@cart.product.price) %></li>
  <li>Status <%= Cart.human_enum_name(:status, @cart.status) %></li>
  <li>Data da compra <%= l(@cart.created_at, format: :custom) %></li>
</ul>

<% if @cart.delivered? %>
  <% if @user_evaluation.empty? %>
    <% if @evaluation.errors.any? %>
      <p>Foram encontrados <%= @evaluation.errors.count %> erro(s):</p>
      <ul>
        <div class="alert alert-warning alert-dismissible fade show d-inline-block" role="alert">
          <%  @evaluation.errors.full_messages.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      </ul>
    <% end %>
    <%= form_with url: user_evaluations_path(product_id: @cart.product.id, cart_id: @cart), model: @evaluation do |f| %>
      <div class="field form-group">
        <%= f.label :rate %>
        <%= f.number_field :rate, in: 1..5, placeholder: 'Avaliação 1-5', class:"form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, placeholder: 'Comentário', class:"form-control" %>
      </div>
      <%= f.submit t('.submit'), class:"btn btn-success mb-1 mt-1" %>
    <% end %>
  <% else %>
    <ul>
      <li><%= link_to 'Editar Avaliação', edit_user_evaluation_path(@user_evaluation.last), class:"btn btn-success btn-sm mb-1 mt-1" %></li>
    </ul>
  <% end %>
<% end %>
