<h2><%= t('.title') %></h2>

<%= form_with model: @admin, url: admin_registration_admins_path do |f| %>
  <%= render "shared/error_messages", resource: @admin %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit %>
<% end %>