<h2><%= t('.title') %></h2>
<br>
<%= form_with model: @admin, url: admin_registration_admins_path do |f| %>
  <%= render "shared/error_messages", resource: @admin %>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class:"form-control" %>
  </div>
  <br>
  <%= f.submit class:"btn btn-primary btn-sm" %>
<% end %>