<header class="header-sectionss">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Página Inicial", admin_root_path, class:"navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto container_product_show">
          <% if admin_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Produtos', admin_products_path, class:"nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Administradores', admin_registration_admins_path, class:"nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Categorias', admin_categories_path, class:"nav-link" %>
            </li>
            <li>
              <%= link_to 'Sair', destroy_admin_session_path, method: :delete, class:"nav-link align-items-right" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
