<%= link_to t('.back'), root_path, class:"btn btn-secondary" %>
<br>
<div class='container_search'>
  <h2>Resultados da busca</h2>
  <div class="container_list">
    <% return t('.not_result') if @products.blank? %>
    <% @products.each do |product| %>
    <div class="item">
      <p class='teste'>
        <%= link_to product.name, product_path(product), class:'btn btn-primary' %>
      </p>
      <p class='teste'>
        <%= t('.brand') %>: <%= product.brand %>
      </p>
      <p class='teste'>
        <%= t('.price') %><%= product.price %>
      </p>
    </div>
    <% end %>
</div>
