<p>
  <%= link_to 'Voltar', root_path, class:"btn btn-primary btn-sm" %>
</p>
<h2>
<% if @products.empty? %>
  Nenhum produto cadastrado
<% else %>
  Produtos <br>
<% end %>
</h2>
<br>
<p>
  <%= link_to "Adicionar Produto", new_admin_product_path, class:"btn btn-success btn-sm"  %>
</p>
<br>
<% @products.each do |product|%>
  <p>
    <%= link_to "#{product.name}", admin_product_path(product), class:"btn btn-primary btn-sm" %>
  </p>
  <p>
    Preço: <%= number_to_currency product.price %>
  </p>
  <p>
    Marca: <%= product.brand %>
  </p>
  <hr>
<% end %>
