<p>
  <%= link_to 'Voltar', admin_products_path, class:"btn btn-primary btn-sm" %>
</p>
<h2 class=" color_title_product"><%= @product.name %></h2>
<p>
  <%= link_to "Editar", edit_admin_product_path(@product), class:"btn btn-dark btn-sm mb-1 mt-1" %>
</p>
<p><%= @product.brand %></p>
<p><%= number_to_currency @product.price %></p>
<p><%= @product.description %></p>
<p>Altura: <%= @product.height %> m</p>
<p>Largura: <%= @product.width %> m</p>
<p>Comprimento: <%= @product.length %> m</p>
<p>Peso: <%= @product.weight %> kg</p>
<p>SKU: <%= @product.sku %></p>
<% if @product.positive? %>
  <p>Frágil</p>
<% else %>
  <p>Não Frágil</p>
<% end %>
<p>Categorias:</p>
<% @product.categories.each do |category| %>
  <p><%= category.name %></p>
<% end %>
<%= image_tag(@product.product_picture.variant(resize_to_fill: [150, 150, gravity: 'north'])) %>
