<h2><%= @product.name %></h2>
<div>
  <li><%= @product.brand %></li>
  <li><%= number_to_currency @product.price %></li>
  <li><%= @product.description %></li>
  <li>Altura: <%= @product.height %> m</li>
  <li>Largura: <%= @product.width %> m</li>
  <li>Comprimento: <%= @product.length %> m</li>
  <li>Peso: <%= @product.weight %> kg</li>
    <% if @product.product_picture.attached? %>
      <p><%= image_tag @product.product_picture %></p>
    <% end %>
  <% if @stock&.quantity.to_i > 0 %>
    <p>Calcular frete por CEP</p>
    <%= form_with url: product_shippings_path(product_id: @product), method: :get do |f| %>
      <div class="field form-group">
        <%= f.label :cep, 'CEP' %>
        <%= f.text_field :cep, class:"form-control" %>
      </div>
      <%= f.submit 'Calcular por CEP', class:"btn btn-success mb-1 mt-1" %>
    <% end %>
  <% else %>
    <div class="alert alert-secondary" role="alert">
      <h4>Produto fora de estoque</h4>
      <h4>Não foi possível calcular o frete</h4>
    </div>
  <% end %> <br>
  <% if @shippings %>
   <%= form_with url: users_product_carts_path(product_id: @product), model: @cart, scope: 'cart' do |f| %>
      <% @shippings.each do |shipping| %>
        <p><%= shipping.display_name %></p>
      <% end %>
      <% if user_signed_in? %>
        <%= f.submit 'Adicionar ao carrinho', class:"btn btn-success btn-sm mb-1 mt-1" %>
      <% end %>
    <% end %>
   <% end %>
</div>
