<div class='container_product_show'>
  <h2 class=" color_title_product"><%= @product.name %></h2>
  <br>
  <p><%= @product.brand %></p>
  <p><%= number_to_currency @product.price %></p>
  <p><%= @product.description %></p>
  <p>Altura: <%= @product.height %> m</p>
  <p>Largura: <%= @product.width %> m</p>
  <p>Comprimento: <%= @product.length %> m</p>
  <p>Peso: <%= @product.weight %> kg</p>
    <% if @product.product_picture.attached? %>
      <p><%= image_tag @product.product_picture %></p>
    <% end %>
</div>
<div>
  <% if @stock&.quantity.to_i > 0 %>
    <h4>Estimar frete</h4>
    <%= form_with url: product_shippings_path(product_id: @product), method: :get do |f| %>
      <div class="field form-group">
        <%= f.label :address_string, 'Endereço' %>
        <%= f.text_field :address_string, placeholder: "Nº Rua X, Bairro, Cidade, Estado", class:"form-control" %>
      </div>
      <%= f.submit 'Estimar Frete', class:"btn btn-success mb-1 mt-1" %>
    <% end %>
  <% else %>
    <div class="alert alert-secondary" role="alert">
      <h4>Produto fora de estoque</h4>
      <h4>Não foi possível calcular o frete</h4>
    </div>
  <% end %> <br>
  <% if @shippings %>
   <%= form_with url: users_product_carts_path(product_id: @product), model: @cart, scope: 'cart' do |f| %>
      <% @shippings.each do |shipping| %>
        <p><%= shipping.display_name %></p>
      <% end %>
      <% if user_signed_in? %>
        <%= f.submit 'Adicionar ao carrinho', class:"btn btn-success btn-sm mb-1 mt-1" %>
      <% end %>
    <% end %>
   <% end %>
</div>
<div>
  <p>Avaliação Média: <%= @product.average_rating %></p>
  <% @product.evaluations.each do |evaluation| %>
    <ul>
      <% evaluation.rate.times do  %>
        <i class="bi bi-star-fill"></i>
      <% end %>
      <% (5 - evaluation.rate).times do %>
        <i class="bi bi-star"></i>
      <% end %>
      <p><%= evaluation.comment %></p>
    </ul>
  <% end %>
</div>
