<h2><%= @product.name%></h2>
<p><%= @product.brand%></p>
<p><%= number_to_currency @product.price%></p>
<p><%= @product.description%></p>
<p>Altura: <%= @product.height%> m</p>
<p>Largura: <%= @product.width%> m</p>
<p>Comprimento: <%= @product.length%> m</p>
<% if @product.positive? %>
  <p>Frágil</p>
<% else %>
  <p>Não Frágil</p>
<% end %>
